<div class="float-left">
    <div class="social-popout">
        <a href="https://facebook.com/2StepsForwardFoundation" target="_blank" class="facebook-icon" alt="Facebook link"></a>
    </div>
    <div class="social-popout">
        <a href="https://twitter.com/2_StepsForward" target="_blank" class="twitter-icon" alt="Twitter link"></a>
    </div>
    <div class="social-popout">
        <a href="https://www.instagram.com/2stepsforwardfoundation/" target="_blank" class="instagram-icon" alt="Instagram link"></a>
    </div>
    <div class="social-popout">
        <a href="https://www.linkedin.com/company/7574515?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A7574515%2Cidx%3A2-1-2%2CtarId%3A1450059181596%2Ctas%3A2%20steps%20forward" target="_blank" class="linkedin-icon" alt="LinkedIn link"></a>
    </div>
</div>
