@{
    ViewBag.Title = "About Us";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <h4><strong>Company History</strong></h4>
        <p>
            2 Steps Forward Foundation is a new venture. It was conceptualized by Mrs. Andrea Simpson, who saw a need to have a place where the unique target market could turn in financial distress. 
            She saw the venture as a way to prevent households from moving below the poverty line, and fill a gap in the community. 
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4><strong>Business Overview</strong></h4>
        <p>
            2 Steps Forward Foundation provides individual grants to applicants in need. Applicants can apply for grants through the foundation website, email, or phone call. 
            Requirements are a completed application, a valid form of identification, the bill needing assistance, pay stubs for all employed members in the household, and an in-person meeting with at least one of the approvers. 
            Grants are paid directly to the business owed. All applications are reviewed by the Executive Director and at least one other senior staff member. 
            They consider balance of funds, severity of need, past assistance given, and availability of other assistance when reviewing applications. 
            The dual review process sets in place controls to ensure unbiased judgement and fiscal responsibility. The Board of Directors reviews the number of applications versus the number approved periodically.
            <br /><br />
            2 Steps Forward Foundation refers applicants to other non-profit organizations or resources as needed. 
            For those whose applications are not approved, we strive to refer them to another organization that may be able to help if at all possible (food banks or veteran’s programs, for example). 
            We also refer applicants to resources that can assist with long term solutions to improve their situations (budgeting classes or job counseling, for example).
            <br /><br />
            Initial focus is the Charlotte metropolitan area, but recipients can reside anywhere in North Carolina or South Carolina.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-2">
        <img class="img-rounded img-responsive" src="~/Content/Images/Profiles/Andrea Simpson.jpg" alt="Andrea Simpson Photo" height="150" width="122">
    </div>
    <div class="col-md-9">
        <h4><strong>Executive Director: </strong></h4>
        <p>Mrs. Andrea Simpson is the executive director responsible for managing operations, approving applications, and public relations. 
        Andrea has a background in business analysis, process improvement, systems development, and business administration. 
        She moved to the Charlotte area in 2014. She earned her bachelor’s degree in business administration from the University of Maryland, University College. 
        Andrea founded 2 Steps Forward Foundation to bring to life a long time dream of helping people who were not being reached by other agencies.</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-offset-1 col-md-2">
        <img class="img-rounded img-responsive" src="~/Content/Images/Profiles/Justin Abdella.jpg" alt="Justin Abdella Photo" height="107" width="166">
    </div>
    <div class="col-md-9">
        <h4><strong>Chief Financial Officer: </strong></h4>
        <p>Mr. Justin Abdella is the chief financial officer. He is responsible for financial controls of the organization, accounting, and fiscal accountability. 
        Justin has a background in accounting, business administration and auditing. He has two years expertise in non-profit auditing and taxes. 
        He earned his bachelor’s degree in business administration and accounting from Western State College of Colorado.</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-offset-1 col-md-2">
        <img class="img-rounded img-responsive" src="~/Content/Images/Profiles/Brittney Boyd.jpg" alt="Brittney Boyd Photo" height="150" width="161">
    </div>
    <div class="col-md-9">
        <h4><strong>Executive Assistant: </strong></h4>
        <p>Mrs. Brittney Boyd is the executive assistant responsible for office operations, check processes, and mail operations. 
        Brittney is from South Carolina, and has her Bachelor’s degree in Accounting from Benedict College. 
        She has experience working as an executive assistant in multiple roles, and supports accounting functions in addition to her role as an executive assistant currently.</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-offset-1 col-md-2">
        <img class="img-rounded img-responsive" src="~/Content/Images/Profiles/Mark Eclavea.jpg" alt="Mark Eclavea Photo" height="150" width="150">
    </div>
    <div class="col-md-9">
        <h4><strong>Board Director: </strong></h4>
        <p>Mr. Mark Eclavea has over 20 years of experience in operational, compliance, and business experience. 
        His current position is the Senior Regional Operations Manager for Wells Fargo Insurance’s International Specialty Group. 
        Mark holds the Associate in Risk Management designation and serves as a member of the Wells Fargo FATCA Steering Committee.  
        He earned a bachelor’s degree in Management from Indiana Wesleyan University, a Masters of Business Administration from the University of Georgia, and the Management Certificate from The Goizueta Business School.  
        He also serves on the Advisory Board for the Terry College of Business MIS Department and is an Instructor at Emory University, where he teaches Lean Six Sigma.</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-offset-1 col-md-2">
        <img class="img-rounded img-responsive" src="~/Content/Images/Profiles/Jason Boyles.jpg" alt="Jason Boyles Photo" height="138" width="165">
    </div>
    <div class="col-md-9">
        <h4><strong>Board Director: </strong></h4>
        <p>Mr. Jason Boyles earned his bachelor’s degree in Accounting and Finance from the University of North Carolina at Charlotte. 
        Jason’s background includes insurance policy checking and direct bill accounting. 
        He volunteers weekly at his local church’s food pantry named “Cupboard of Love”.</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-offset-1 col-md-2">
        <img class="img-rounded img-responsive" src="~/Content/Images/Profiles/Jason Campbell.jpg" alt="Jason Campbell Photo" height="150" width="154">
    </div>
    <div class="col-md-9">
        <h4><strong>Board Director: </strong></h4>
        <p>Mr. Jason Campbell was born in Martinsville, VA. He has a Bachelor’s degree in history and political science from the University of North Carolina – Charlotte. 
        Jason enjoys reading, traveling, and cooking. He is a father of 2, a daughter and a Pit Bull. 
        He enjoys donating his time to people and animals in need. Jason has over ten years of managerial experience in the service industry. </p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-offset-1 col-md-2">
        <img class="img-rounded img-responsive" src="~/Content/Images/Profiles/Adam Tolbert.jpg" alt="Adam Tolbert Photo" height="150" width="118">
    </div>
    <div class="col-md-9">
        <h4><strong>Board Director: </strong></h4>
        <p>Mr. Adam Tolbert is a team lead in the accounting division of Wells Fargo Insurance. 
        Adam spent most of his professional career in the culinary industry obtaining 2 degrees and multiple certifications, working under award winning chefs around the Southeast, and winning awards and recognition himself. 
        After 8 years and multiple stops it was time for a change of pace to and change of industry. 
        Adam grew up and spent most of his life in the state of Florida living from Dade County to the beautiful Emerald Coast in Destin. 
        He has previous experience in non-profit and charity work in such organizations as Sensoria, Soup on Sundays, and March of Dimes. </p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-offset-1 col-md-2">
        <img class="img-rounded img-responsive" src="~/Content/Images/Profiles/Michael Laco.jpg" alt="Michael Laco Photo" height="150" width="155">
    </div>
    <div class="col-md-9">
        <h4><strong>Board Director / Technology Specialist: </strong></h4>
        <p>
            Mr. Michael Laco is the technology specialist. He is responsible for website maintenance, monitoring system security, providing system maintenance and updates, and assisting with troubleshooting system issues.
            Mike is a graduate of Western Carolina University with a Bachelor of Science in Political Science and Criminal Justice.
            He also received a master's degree at Appalachian State University in Public Policy/Administration.
            Mike has been involved charity organizations dating back to the founding of the Public Policy Institute at Western Carolina University. His background includes positions in accounting and financial services analysis.
        </p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-offset-1 col-md-2">
        <img class="img-rounded img-responsive" src="~/Content/Images/Profiles/Steven Yip.JPG" alt="Steven Yip Soon" height="150" width="150">
    </div>
    <div class="col-md-9">
        <h4><strong>Board Director: </strong></h4>
        <p>
            Mr. Steven Yip was born and raised in Salisbury, NC and moved to Charlotte in 2002. He attended the University of North Carolina at Charlotte and received Bachelor’s degrees in Computer Engineering and Business Management.
            Steven has over 8 years of experience in software development in the healthcare, big data, and banking industries. He started out learning programming in high school as a hobby and decided to pursue it as a career.
            He enjoys the outdoors, staying active, learning new technologies, and participating in events with Habitat for Humanity and Stop Hunger Now.
        </p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-offset-1 col-md-2">
        <img class="img-rounded img-responsive" src="~/Content/Images/Profiles/coming-soon.gif" alt="Photo Coming Soon" height="150" width="150">
    </div>
    <div class="col-md-9">
        <h4><strong>Future Positions: </strong></h4>
        <p>Fundraising/Event Coordinator, Grant Writer, Volunteer Coordinator, Administrative Assistant, Outreach Coordinator, Bookkeeper</p>
    </div>
</div>