@{
    ViewBag.Title = "Events";
}

<h2>@ViewBag.Title</h2>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://calendar.google.com/calendar/embed?src=andrea2stepsforward%40gmail.com&ctz=America/New_York" style="border: 0;width:100%" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
