@{
    ViewBag.Title = "Resources";
}

<h2>@ViewBag.Title</h2>

<p>
    <Strong>Application Requirements:</Strong><br />
    2 Steps Forward Foundation provides individual grants to applicants in need. 
    Applicants can apply for grants through the foundation website, email, or phone call. 
    Requirements are a completed application, a valid form of identification, the bill needing assistance, recent bank statments, pay stubs for all employed members in the household, and an in-person meeting with at least one of the approvers. 
    Grants are paid directly to the business owed. 
    <br /><br />
    All applications are reviewed by the Executive Director and at least one other senior staff member. 
    They consider balance of funds, severity of need, past assistance given, and availability of other assistance when reviewing applications.
</p>

